In [1]:
#Importing Modules

import pandas as pd

In [2]:
#Reading my first csv file, the Euro/USD exchange rates

euro_df = pd.read_csv('EURUSDX.csv', usecols = ['Date', 'Close'])

euro_df.head()

         Date     Close
0  2003-12-01  1.196501
1  2003-12-02  1.208897
2  2003-12-03  1.212298
3  2003-12-04  1.208094
4  2003-12-05  1.218695

In [3]:
#Checking basic info such as shape, NaNs and dtypes

euro_df.shape

(4870, 2)

In [4]:
euro_df.isnull().values.any()

True

In [5]:
euro_df.info

<bound method DataFrame.info of             Date     Close
0     2003-12-01  1.196501
1     2003-12-02  1.208897
2     2003-12-03  1.212298
3     2003-12-04  1.208094
4     2003-12-05  1.218695
...          ...       ...
4865  2022-07-25  1.020023
4866  2022-07-26  1.022495
4867  2022-07-27  1.012956
4868  2022-07-28  1.020929
4869  2022-07-29  1.024380

[4870 rows x 2 columns]>

In [6]:
euro_df.describe()

             Close
count  4841.000000
mean      1.250149
std       0.121111
min       1.002567
25%       1.140004
50%       1.238497
75%       1.336791
max       1.598798

In [7]:
#Reading my second csv file, the important world event dates

dates_df = pd.read_csv('World_Events.csv', usecols = ['Event', 'Date'])

dates_df.head()

                               Event        Date
0                           Iraq War  2003-03-20
1         2004 Presidential Election  2004-11-02
2  Indian Ocean Earthquake & Tsunami  2004-12-26
3            Pope John Paul II Death  2005-04-02
4                iPhone Introduction  2007-01-09

In [8]:
euro_2015 = euro_df.loc[euro_df.Date == '2015-01-01']

print(euro_2015)

            Date     Close
2893  2015-01-01  1.209863

In [9]:
event_1 = dates_df.loc[dates_df.Date == '2004-11-02']

print(event_1)

                        Event        Date
1  2004 Presidential Election  2004-11-02

In [10]:
euro_df.merge(dates_df)

          Date     Close                                 Event
0   2004-11-02  1.272006            2004 Presidential Election
1   2007-01-09  1.299697                   iPhone Introduction
2   2008-09-15  1.426900                  2008 Great Recession
3   2008-09-29  1.439325                  Housing Market Crash
4   2008-11-04  1.298398            2008 Presidential Election
5   2008-12-11  1.332996                        Madoff Scandal
6   2010-12-17  1.323995                           Arab Spring
7   2011-01-14  1.335327                      Tunisia Uprising
8   2011-02-03  1.381788                        Yemen Uprising
9   2011-02-09  1.362695                        Egypt Uprising
10  2011-02-15  1.348109                        Libya Uprising
11  2011-03-11  1.380129    2011 Japanese Earthquake & Tsunami
12  2011-04-29  1.484406                        Syria Uprising
13  2012-05-18  1.269841                          Facebook IPO
14  2012-06-01  1.236247                       Coinbase Launch
15  2012-11-06  1.280246            2012 Presidential Election
16  2016-11-08  1.105217            2016 Presidential Election
17  2017-03-29  1.081771                    Brexit Talks Start
18  2019-12-27  1.110112  First Chinese COVID-19 Case Reported
19  2020-01-31  1.102913                    Brexit Implemented
20  2020-11-03  1.164280            2020 Presidential Election
21  2021-01-06  1.230027                    US Capitol Attacks
22  2021-01-20  1.213887                    Biden Inauguration
23  2022-02-24  1.130569           Russian invasion of Ukraine
24  2022-06-30  1.044659                        Inflation Rise