In [1]:
import pandas as pd

In [2]:
# Reading my first csv file, the Euro/USD exchange rates
euro_df = pd.read_csv('Input/EURUSDX.csv', usecols = ['Date', 'Close'])

euro_df.head()

         Date     Close
0  2003-12-01  1.196501
1  2003-12-02  1.208897
2  2003-12-03  1.212298
3  2003-12-04  1.208094
4  2003-12-05  1.218695

In [3]:
# Checking basic info such as shape, NaNs and dtypes
euro_df.shape

(4870, 2)

In [4]:
# Checking for null values in the euro dataframe
euro_df.isnull().values.any()

True

In [5]:
# Pulling information about the data frame such as number of columns, column labels, etc.
euro_df.info

<bound method DataFrame.info of             Date     Close
0     2003-12-01  1.196501
1     2003-12-02  1.208897
2     2003-12-03  1.212298
3     2003-12-04  1.208094
4     2003-12-05  1.218695
...          ...       ...
4865  2022-07-25  1.020023
4866  2022-07-26  1.022495
4867  2022-07-27  1.012956
4868  2022-07-28  1.020929
4869  2022-07-29  1.024380

[4870 rows x 2 columns]>

In [6]:
# Calculating some statistical data about the euro dataframe
euro_df.describe()

             Close
count  4841.000000
mean      1.250149
std       0.121111
min       1.002567
25%       1.140004
50%       1.238497
75%       1.336791
max       1.598798

In [7]:
# Reading my second csv file, the important world event dates
dates_df = pd.read_csv('Input/World_Events.csv', usecols = ['Event', 'Date', 'Region'])

dates_df.head()

                               Event        Date Region
0                           Iraq War  2003-03-20     US
1         2004 Presidential Election  2004-11-02     US
2  Indian Ocean Earthquake & Tsunami  2004-12-26  WORLD
3            Pope John Paul II Death  2005-04-02  WORLD
4                iPhone Introduction  2007-01-09  WORLD

In [8]:
# Test to see if a random date gives me the correct outcome
euro_2015 = euro_df.loc[euro_df.Date == '2015-01-01']

print(euro_2015)

            Date     Close
2893  2015-01-01  1.209863

In [9]:
# Another test to see if the dates dataframe gives me the correct outcome for a random date
event_1 = dates_df.loc[dates_df.Date == '2004-11-02']

print(event_1)

                        Event        Date Region
1  2004 Presidential Election  2004-11-02     US

In [10]:
# Merged dataframes to give an overview of various events and the closing rate of the Euro/USD exchange
euro_events = euro_df.merge(dates_df)

print(euro_events)

          Date     Close                                 Event Region
0   2004-11-02  1.272006            2004 Presidential Election     US
1   2007-01-09  1.299697                   iPhone Introduction  WORLD
2   2008-09-15  1.426900                  2008 Great Recession  WORLD
3   2008-09-29  1.439325                  Housing Market Crash     US
4   2008-11-04  1.298398            2008 Presidential Election     US
5   2008-12-11  1.332996                        Madoff Scandal     US
6   2010-12-17  1.323995                           Arab Spring  WORLD
7   2011-01-14  1.335327                      Tunisia Uprising  WORLD
8   2011-02-03  1.381788                        Yemen Uprising  WORLD
9   2011-02-09  1.362695                        Egypt Uprising  WORLD
10  2011-02-15  1.348109                        Libya Uprising  WORLD
11  2011-03-11  1.380129    2011 Japanese Earthquake & Tsunami  WORLD
12  2011-04-29  1.484406                        Syria Uprising  WORLD
13  2012-05-18  1.269841                          Facebook IPO     US
14  2012-06-01  1.236247                       Coinbase Launch  WORLD
15  2012-11-06  1.280246            2012 Presidential Election     US
16  2016-11-08  1.105217            2016 Presidential Election     US
17  2017-03-29  1.081771                    Brexit Talks Start  WORLD
18  2019-12-27  1.110112  First Chinese COVID-19 Case Reported  WORLD
19  2020-01-31  1.102913                    Brexit Implemented  WORLD
20  2020-11-03  1.164280            2020 Presidential Election     US
21  2021-01-06  1.230027                    US Capitol Attacks     US
22  2021-01-20  1.213887                    Biden Inauguration     US
23  2022-02-24  1.130569           Russian invasion of Ukraine  WORLD
24  2022-06-30  1.044659                        Inflation Rise     US

In [11]:
# Results for Euro/USD exchange rate based on World only events
world_events = euro_events.loc[euro_events.Region == 'WORLD']

world_events.head()

         Date     Close                 Event Region
1  2007-01-09  1.299697   iPhone Introduction  WORLD
2  2008-09-15  1.426900  2008 Great Recession  WORLD
6  2010-12-17  1.323995           Arab Spring  WORLD
7  2011-01-14  1.335327      Tunisia Uprising  WORLD
8  2011-02-03  1.381788        Yemen Uprising  WORLD

In [12]:
# Results for Euro/USD exchange rate based on US only events
us_events = euro_events.loc[euro_events.Region == 'US']

us_events.head()

          Date     Close                       Event Region
0   2004-11-02  1.272006  2004 Presidential Election     US
3   2008-09-29  1.439325        Housing Market Crash     US
4   2008-11-04  1.298398  2008 Presidential Election     US
5   2008-12-11  1.332996              Madoff Scandal     US
13  2012-05-18  1.269841                Facebook IPO     US

In [13]:
# Cleaning data to see results for how Brexit affected the Euro/USD exchange rate
brexit_status = ['Brexit Talks Start', 'Brexit Implemented']
mask = euro_events['Event'].isin(brexit_status)
brexit_events = euro_events[mask]

print(brexit_events)

          Date     Close               Event Region
17  2017-03-29  1.081771  Brexit Talks Start  WORLD
19  2020-01-31  1.102913  Brexit Implemented  WORLD

In [14]:
# Exporting results to a csv file for all of the events
euro_events.to_csv('Results/euro_events.csv', index=False)

In [15]:
# Exporting results to a csv file for all world only events
world_events.to_csv('Results/world_only.csv', index=False)

In [16]:
# Exporting results to a csv file for US only events
us_events.to_csv('Results/us_only.csv', index=False)